.logo {
  margin: auto;
  width: 50%;
}
.logo img {
  width: 100%;
}
.search {
  margin: auto;
  width: 50%;
}
.search input{
  width: 100%;
  border-radius: 4px;
}
.search input:hover {
  border: 3px solid rgba(162, 165, 170, 0.5);
}
