html {
  font-family: monospace;
}
.logo {
  margin: auto;
  width: 25%;
}
.logo img {
  width: 100%;
}
.search {
  margin: auto;
  width: 50%;
  position: relative;
}
.search input{
  width: 100%;
  border-radius: 4px;
  font-size: 24px;
}
.search input::-webkit-input-placeholder {
    font-size: 16px;
    padding-left: 6px;
    padding-bottom: 10px;
}
.search input:hover {
  border: 3px solid rgba(162, 165, 170, 0.5);
}
.search button {
  width: 28px;
  height: 28px;
  position: absolute;
  padding: 0px;
  top: 3px;
}
.search button:hover, .search_btns button:hover, .logo img:hover {
  cursor: pointer;
}
.voice {
  right: 0px;
}
.keyboard {
  right: 30px;
}
.search_btns {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
  height: 30px;
  padding: 1px;
}
.search_btns button {
  width: 50%;
  margin-top: 5px;
  float:left;
}
.language {
  margin: auto;
  text-align: center;
  width: 25%;
}
.footer {
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(123, 123, 123, 0.2);
    border-top: 1px solid rgba(162, 165, 170, 0.5);
}
.footer ul:last-child {
  float: right;
}
.footer ul:first-child {
  float: left;
}
a:link, a:visited, a:hover, a:active {
  color: rgba(123, 123, 123, 1);
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
.nav ul {
  float: right;
}
.nav button {
  width: 30px;
  height: 30px;
  padding: 0;
}
